
body,h1,h3,p,td,quote,small,form,input,ul,li,ol,label{
    margin:0px;
    padding:0px;
    font-family:Arial;
}

body{
    margin-top:20px;
    color:#51555C;
    font-size:13px;
    background-color:#123456;
    text-align:center;
}

.clear{
    clear:both;
}

a, a:visited {
    color:#007bc4;
    text-decoration:none;
    outline:none;
}

a:hover{
    text-decoration:underline;
}

#rounded{
    width:800px;
    margin:20px auto;
    text-align:left;
}

.container{
    background-color:#FFFFFF;
    padding:10px 20px 20px 20px;
}

#navigation{
    margin:30px 0px;
}
#button_li{
    list-style:none;
    display:block;
    float:left;
    width:80px;
}

#button_li a,#button_li a:visited{
    padding:5px 10px;
    text-align:center;
    background-color:#000033;
    color:white;
    border-radius:5px;
    display:block;
    margin-right:10px;
}

li a:hover{
    background-color:#666666;
    text-decoration:none;
}

#pageContent{
    margin-top:20px;

    border:1px solid #123456;
    padding:10px;
    border-radius: 5px;
}

#loading{
    visibility:hidden;
}

.demo{
    color:white;
}
#button_li{
    width:190px;
}
#title{
    width:130px;
    height:40px;
    float:left;
}
#account_head{
    height:40px;
    width:150px;
    float:right;
    font-size: 15px;
}
#title_bar{
    width:750px;
    height:42px;
}
.titleright_button{
    border-style: none;
    width: 60px;
    background-color: white;
    float: right;
}
#button_div{
    height: 50px;
    width: 757px;
}
.main_button{
    height: 50px;
    width: 248px;
    background-color: white;
    border-style: none;
}
.newmain_button{
    height: 50px;
    width: 248px;
    color: white;
    background-color: #000033;
    border-style: none;
}
#contentwith_link{
    width : 760px;
    height: auto;
}
#download_button{
    float: right;
    margin-right: 20px;
    margin-bottom: 40px;
    height: 50px;
    width: 100px;
}
#account_div{
    height: 70px;
    width: 100px;
    position: absolute;
    top: 70px;
    left: 870px;
    border:1px solid #123456;
    border-radius:10px;
    background-color:white;
}
.account_a,.account_a:visited{
    text-align: left;
    font-size: 15px;
    color: #123456;
    float:left;
    padding-top:10px;
    padding-left:10px;
}